[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rx = "<3.0.0"
pandas = "*"
influxdb = "*"
apscheduler = "*"
dateparser = "*"
retrying = "*"
dataclasses = "*"
prometheus_client = "*"
cachetools = "*"
scikit-learn = "*"
umap-learn = "*"
ocp = {git = "https://gitlab.cee.redhat.com/ccx/insights-ocp", editable = true}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
